{
    "openapi": "3.0.0",
    "info": {
        "title": "ArchiveMaster API",
        "description": "Sistema de gestión documental empresarial completo",
        "contact": {
            "name": "ArchiveMaster Support",
            "email": "admin@archivemaster.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "ArchiveMaster API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Iniciar sesión",
                "description": "Autenticar usuario y obtener token de acceso",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@archivemaster.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "remember": {
                                        "description": "Recordar sesión",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login exitoso"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Admin User"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "admin@archivemaster.com"
                                                        },
                                                        "company_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Credenciales inválidas"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Errores de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Errores de validación"
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El campo email es obligatorio"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Cerrar sesión",
                "description": "Revocar token de acceso actual",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logout exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logout exitoso"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autenticado"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Obtener información del usuario actual",
                "description": "Retorna la información del usuario autenticado",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "Información del usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin User"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@archivemaster.com"
                                                },
                                                "position": {
                                                    "type": "string",
                                                    "example": "Administrator"
                                                },
                                                "company_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "branch_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "department_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "permissions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "last_login_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autenticado"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Renovar token de acceso",
                "description": "Generar un nuevo token de acceso",
                "operationId": "30c20c52f5f72828d8c531fd7c9ea3e7",
                "responses": {
                    "200": {
                        "description": "Token renovado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token renovado exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "2|def456..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "example": 3600
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Listar categorías",
                "description": "Obtener lista jerárquica de categorías disponibles para la empresa",
                "operationId": "ac9c4d978ea4e5b72915ca9728e5b8b1",
                "responses": {
                    "200": {
                        "description": "Lista de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Contratos"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "contratos"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Documentos contractuales"
                                                    },
                                                    "parent_id": {
                                                        "type": "integer",
                                                        "example": null
                                                    },
                                                    "color": {
                                                        "type": "string",
                                                        "example": "blue"
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "example": "heroicon-o-document-text"
                                                    },
                                                    "active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "children": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Obtener categoría",
                "description": "Obtener detalles de una categoría específica",
                "operationId": "09767bb2e47dde77dd1e2591428b0ae1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la categoría",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles de la categoría",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Contratos"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "contratos"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Documentos contractuales"
                                                },
                                                "parent_id": {
                                                    "type": "integer",
                                                    "example": null
                                                },
                                                "color": {
                                                    "type": "string",
                                                    "example": "blue"
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": "heroicon-o-document-text"
                                                },
                                                "active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "parent": {
                                                    "type": "object"
                                                },
                                                "children": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "documents_count": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/companies/current": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Obtener empresa actual",
                "description": "Obtener información de la empresa del usuario autenticado",
                "operationId": "a98738fd84c9d64e2274bfba60db53bb",
                "responses": {
                    "200": {
                        "description": "Información de la empresa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Empresa ABC S.A."
                                                },
                                                "legal_name": {
                                                    "type": "string",
                                                    "example": "Empresa ABC Sociedad Anónima"
                                                },
                                                "tax_id": {
                                                    "type": "string",
                                                    "example": "12345678-9"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "Av. Principal 123, Ciudad"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "+1234567890"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "contacto@empresa.com"
                                                },
                                                "website": {
                                                    "type": "string",
                                                    "example": "https://www.empresa.com"
                                                },
                                                "logo_url": {
                                                    "type": "string",
                                                    "example": "https://sistema.com/storage/logos/empresa.png"
                                                },
                                                "primary_color": {
                                                    "type": "string",
                                                    "example": "#1f2937"
                                                },
                                                "secondary_color": {
                                                    "type": "string",
                                                    "example": "#3b82f6"
                                                },
                                                "active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "branches_count": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "departments_count": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "users_count": {
                                                    "type": "integer",
                                                    "example": 45
                                                },
                                                "documents_count": {
                                                    "type": "integer",
                                                    "example": 1250
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/companies/current/branches": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Obtener sucursales de la empresa",
                "description": "Obtener lista de sucursales de la empresa actual",
                "operationId": "b071de5efa16e949b27fdc012e8bf6cc",
                "responses": {
                    "200": {
                        "description": "Lista de sucursales",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Sucursal Centro"
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "example": "Calle Principal 456"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+1234567891"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "centro@empresa.com"
                                                    },
                                                    "active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "departments_count": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "users_count": {
                                                        "type": "integer",
                                                        "example": 15
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/companies/current/departments": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Obtener departamentos de la empresa",
                "description": "Obtener lista de departamentos de la empresa actual",
                "operationId": "bbef1f6bd07e5c4a5549cf1fbb967e87",
                "parameters": [
                    {
                        "name": "branch_id",
                        "in": "query",
                        "description": "Filtrar por sucursal",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de departamentos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Recursos Humanos"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Departamento de gestión de personal"
                                                    },
                                                    "branch_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "branch": {
                                                        "type": "object"
                                                    },
                                                    "users_count": {
                                                        "type": "integer",
                                                        "example": 8
                                                    },
                                                    "documents_count": {
                                                        "type": "integer",
                                                        "example": 125
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/companies/current/stats": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Obtener estadísticas de la empresa",
                "description": "Obtener estadísticas generales de la empresa actual",
                "operationId": "7e010aceca0b07d1c0e137932488a874",
                "responses": {
                    "200": {
                        "description": "Estadísticas de la empresa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_documents": {
                                                    "type": "integer",
                                                    "example": 1250
                                                },
                                                "pending_documents": {
                                                    "type": "integer",
                                                    "example": 85
                                                },
                                                "completed_documents": {
                                                    "type": "integer",
                                                    "example": 1165
                                                },
                                                "overdue_documents": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "total_users": {
                                                    "type": "integer",
                                                    "example": 45
                                                },
                                                "active_users": {
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "total_branches": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total_departments": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "total_categories": {
                                                    "type": "integer",
                                                    "example": 8
                                                },
                                                "documents_by_status": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "status_name": {
                                                                "type": "string",
                                                                "example": "En Proceso"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 45
                                                            },
                                                            "percentage": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 3.6
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "documents_by_category": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "category_name": {
                                                                "type": "string",
                                                                "example": "Contratos"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 250
                                                            },
                                                            "percentage": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 20
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "last_updated": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/documents": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Listar documentos",
                "description": "Obtener lista paginada de documentos con filtros opcionales",
                "operationId": "0eeb1a024876b0279b451f715fb6ed7f",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Elementos por página (máximo 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Búsqueda en título, descripción y número de documento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "contrato"
                        }
                    },
                    {
                        "name": "status_id",
                        "in": "query",
                        "description": "Filtrar por estado",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filtrar por categoría",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "assigned_to",
                        "in": "query",
                        "description": "Filtrar por usuario asignado",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de documentos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "document_number": {
                                                        "type": "string",
                                                        "example": "DOC-ABC-20250101120000-A1B2"
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Contrato de Servicios"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Contrato de servicios profesionales"
                                                    },
                                                    "status": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "En Proceso"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "category": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Contratos"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 75
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Crear documento",
                "description": "Crear un nuevo documento",
                "operationId": "c9fef7703e9cd343c6c74a1a2fcf023e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "category_id",
                                    "status_id"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Nuevo Contrato"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Descripción del documento"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Contenido del documento"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "assigned_to": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "branch_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "department_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "priority": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ],
                                        "example": "medium"
                                    },
                                    "is_confidential": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "due_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-02-01T10:00:00Z"
                                    },
                                    "physical_location": {
                                        "type": "string",
                                        "example": "Archivo Central - Estante A1"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Documento creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento creado exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_number": {
                                                    "type": "string",
                                                    "example": "DOC-ABC-20250101120000-A1B2"
                                                },
                                                "barcode": {
                                                    "type": "string",
                                                    "example": "DOCABC20250101120000A1B2XYZ123"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "{\"id\":1,\"document_number\":\"DOC-ABC-20250101120000-A1B2\"}"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Nuevo Contrato"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Errores de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Errores de validación"
                                        },
                                        "errors": {
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/documents/{id}": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Obtener documento",
                "description": "Obtener detalles de un documento específico",
                "operationId": "c6cc59b0640a09a31ed2a7965f93d67b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del documento",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles del documento",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_number": {
                                                    "type": "string",
                                                    "example": "DOC-ABC-20250101120000-A1B2"
                                                },
                                                "barcode": {
                                                    "type": "string",
                                                    "example": "DOCABC20250101120000A1B2XYZ123"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "{\"id\":1,\"document_number\":\"DOC-ABC-20250101120000-A1B2\"}"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Contrato de Servicios"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Descripción detallada"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Contenido completo del documento"
                                                },
                                                "status": {
                                                    "type": "object"
                                                },
                                                "category": {
                                                    "type": "object"
                                                },
                                                "creator": {
                                                    "type": "object"
                                                },
                                                "assignee": {
                                                    "type": "object"
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "versions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "workflow_history": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Documento no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento no encontrado"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Documents"
                ],
                "summary": "Actualizar documento",
                "description": "Actualizar un documento existente",
                "operationId": "ab4a342b912782e0fe834285390ff14c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del documento",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Título actualizado"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Nueva descripción"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Contenido actualizado"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "assigned_to": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "priority": {
                                        "type": "string",
                                        "enum": [
                                            "low",
                                            "medium",
                                            "high"
                                        ],
                                        "example": "high"
                                    },
                                    "is_confidential": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "due_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-03-01T10:00:00Z"
                                    },
                                    "physical_location": {
                                        "type": "string",
                                        "example": "Archivo Central - Estante B2"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            2,
                                            3,
                                            4
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Documento actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento actualizado exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Documents"
                ],
                "summary": "Eliminar documento",
                "description": "Eliminar un documento (soft delete)",
                "operationId": "6b128368bb7ca99054b61fa94cd12162",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del documento",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Documento eliminado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento eliminado exitosamente"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/documents/{id}/transition": {
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Transicionar documento",
                "description": "Cambiar el estado de un documento siguiendo el workflow",
                "operationId": "5f1ee93629ef6ea70424c3fdf428e34a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del documento",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status_id"
                                ],
                                "properties": {
                                    "status_id": {
                                        "description": "ID del nuevo estado",
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "comment": {
                                        "description": "Comentario sobre la transición",
                                        "type": "string",
                                        "example": "Documento revisado y aprobado"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transición exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento transicionado exitosamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Transición no válida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Transición no válida"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/hardware/barcode/scan": {
            "post": {
                "tags": [
                    "Hardware"
                ],
                "summary": "Escanear código de barras",
                "description": "Procesar lectura de código de barras y obtener información del documento",
                "operationId": "18a0f3ad8c1ff6ce2a50244ce5746bc0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "barcode"
                                ],
                                "properties": {
                                    "barcode": {
                                        "description": "Código de barras escaneado",
                                        "type": "string",
                                        "example": "DOCABC20250101120000A1B2XYZ123"
                                    },
                                    "scanner_id": {
                                        "description": "ID del escáner utilizado",
                                        "type": "string",
                                        "example": "SCANNER_001"
                                    },
                                    "location": {
                                        "description": "Ubicación donde se realizó el escaneo",
                                        "type": "string",
                                        "example": "Recepción Principal"
                                    },
                                    "action": {
                                        "description": "Acción a realizar con el documento",
                                        "type": "string",
                                        "enum": [
                                            "view",
                                            "checkout",
                                            "checkin",
                                            "verify"
                                        ],
                                        "example": "view"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Documento encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Documento encontrado"
                                        },
                                        "data": {
                                            "properties": {
                                                "document": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "document_number": {
                                                            "type": "string",
                                                            "example": "DOC-ABC-20250101120000-A1B2"
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Contrato de Servicios"
                                                        },
                                                        "status": {
                                                            "type": "object"
                                                        },
                                                        "category": {
                                                            "type": "object"
                                                        },
                                                        "physical_location": {
                                                            "type": "string",
                                                            "example": "Archivo Central - Estante A1"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "scan_log": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "scanned_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "scanner_id": {
                                                            "type": "string",
                                                            "example": "SCANNER_001"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "example": "Recepción Principal"
                                                        },
                                                        "action": {
                                                            "type": "string",
                                                            "example": "view"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
[...]
