.git
.github
node_modules
vendor
desktop
storage/app/*
!storage/app/.gitignore
storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
public/storage
.env
.env.*
.dockerignore
Dockerfile
docker-compose.yml
README.md
CHANGELOG.md
*.log
tmp
output
tests
e2e
docusaurus.json
*.md
